{% extends 'main.html' %}

{% block content %}

<style>
    .room-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>

<div class="room-container">
    <div>
        <h1>{{room.name}}:</h1>
        
        <p>{{room.description}}</p>
        
        <div class="comment-wrapper">
            <h3>Conversation</h3>
            <hr>
            {% for msg in msgs %}
            <div>
                <small>@{{msg.user}}  {{msg.created|timesince}} ago </small>
                {% if msg.user == request.user or request.user == room.host %}
                <a href="{% url 'delete-msg' msg.id %}">Delete</a>
                {% endif %}
                <p>{{msg.body}}</p>
                <hr>
            </div>
            {% endfor %}
        </div>
        
        {% if request.user.is_authenticated and request.user in room.members %}
        <div class='comment-form'>
            <form method="POST" action="">
                {% csrf_token %}
                <input type="text" name="body" placeholder="Type a message..." />
            </form>
        </div>
        {% endif %}
    </div>
    <div>
        <h3>Members</h3>
        <hr>
        {% for member in members %}
        <div>
            <small>@{{member}}</small>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}